body{
    margin: 2;
    font-family: sans-serif;
    background-color: deeppink;
    font-weight: 300;
    color: rgb(244, 250, 245)
    ;
  text-align: fixed;
}

.todo {
  background-color: blueviolet;
  margin: 5px;
  padding: 5px;
}

.completed{
  text-decoration: line-through;
}